<footer class="container-fluid" th:fragment="rodape" style="background-color: #F7F7F7; height: 40px; padding-top: 10px; margin-top: 60px;">
	<div class="container-fluid px-4">
		<div class="d-flex align-items-center justify-content-between small">
			<div class="text-muted">Todos os direitos reservados &copy;
			<a href="#" target="_blank"></a> - 2021</div>
			<div>
				<a href="#" target="_blank">GitHub</a>
				&middot; <a
					href="#" target="_blank">Linkedin</a>
			</div>
		</div>
	</div>
</footer>