<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" crossorigin="anonymous">
    <title>Controle de Estoque</title>
  </head>
  <body>
    
    <header th:replace="fragments/header :: cabecalho"></header>

    <main class="container">
        <div class="com-md-12 mt-3">
            <section>
                <div style="border-bottom: 1px solid #343A40;">
                    <h2>Cadastro de Produtos</h2>  
                </div>
                <div class="row">
                    <div class="col-md-12">
                    
                    	<div th:replace="fragments/alert"></div>
                    	
                        <form th:action="${produto.id == null} ? @{/produtos/salvar} : @{/produtos/editar}" method="POST" th:object="${produto}" enctype="multipart/form-data">
                            
                            <div class="form-row mt-2">
                              <div class="col-md-2">
                                <label for="codigo">Código</label>
                                <input type="number" class="form-control" id="codigo" readonly>
                              </div>
                              <div class="col-md-10">
                                <label for="descricao">Descrição</label>
                                <input type="text" class="form-control" id="descricao" 
                                placeholder="Bomba de óleo..." th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'">
	                              	<div class="invalid-feedback">
										<span th:errors="*{descricao}"></span>
		                        	</div>
                              </div>
                            </div>
                            <div class="form-row mt-2">
                              <div class="col-md-9">
                                <label for="categoria">Categoria</label>
                                <select class="form-control" id="categoria" th:field="*{categoria}" th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'">
                                  <option value="">Selecione...</option>
                                  <option th:each="cat : ${categorias}" th:value="${cat}" th:text="${cat.descricao}">ALVENARIA</option>
                                </select>
	                                <div class="invalid-feedback">
											<span th:errors="*{categoria}"></span>
			                        </div>
                              </div>
                              <div class="col-md-3 mt-2">
                              	<label for="arquivo">Imagem</label>
    							<input type="file" class="form-control-file" id="arquivo" name="arquivo"  accept=".jpg, .jpeg">
    							<span style="font-size: 10px;">Tamanho máxino 2MB</span>
                              </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col-md-12">
                                    <label for="fabricante">Fabricante</label>
                                    <input type="text" class="form-control" id="fabricante" placeholder="Balucias..." th:field="*{fabricante}" th:classappend="${#fields.hasErrors('fabricante')} ? 'is-invalid'">
                                	<div class="invalid-feedback">
										<span th:errors="*{fabricante}"></span>
		                        	</div>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <label for="informacoes">Informações adicionais</label>
                                <textarea class="form-control" id="informacoes" rows="3" th:field="*{informacoes}" placeholder="Referência do produto e outras informações relevantes"></textarea>
                            </div>
                            <input type="hidden" id="id" th:field="*{id}"/>
                            <input type="hidden" id="id" th:field="*{foto}"/>
                            <div class="form-row mt-4">
                                <div class="col-md-3 col-xs-12">
                                    <button type="submit" class="btn btn-primary" style="width: 100%; height: 50px; font-weight: bold;">Cadastrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>      
    </main>

    <script src="/vendor/bootstrap/jquery-3.3.1.slim.min.js"></script>
    <script src="/vendor/bootstrap/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/vendor/jquery-mask/jquery.mask.min.js"></script>
  </body>
</html>